@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');

*{
  font-family: 'Courier Prime', monospace;
  border: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(200, 200, 200);
}

.clear {
  width: 100%;
  background-color: red;
}

.clear:hover {
  background-color: rgb(96, 19, 19);
  color: white;
}

.wrapper {
  background-color: rgb(87, 87, 87);
  padding: 1%;
}

button {
  height: 100px;
  width: 33%;
  font-size: 2rem;
}

button:hover{
  color: #2a9d8f;
}

.buttonArea{
  width: 30vw;
  display: flex;
  flex-flow: row wrap;
}

.opArea{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.opArea button {
  width: 100%;
  background-color: #264653;
  color: #e76f51;
}

.opArea button:hover {
  background-color: #5d7d89;
  color: #ff3300;
}

.screen{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 10vh;
  font-size: 3rem;
  background-color: white;
  border: 1px solid darkgray;
}